/paper/opsets.log
/paper/opsets.aux
/paper/opsets.out
/paper/opsets.bbl
/paper/opsets.blg
/paper/opsets.toc
/paper/opsets.dvi
/paper/opsets.ps
/paper/opsets.pdf
/paper/opsets.vtc
/paper/*-arxiv.tex
*~
.DS_Store
/isabelle/output
/isabelle/OpSets/output
/isabelle/OpSets.zip
